.gitignore export-ignore
.gitattributes export-ignore
frcplotspot.py export-ignore
frcplotwt.py export-ignore
frcresolve.py export-ignore
frcsplit.py export-ignore
lifetime.py export-ignore
logfilter.py export-ignore
numspots.py export-ignore
stamp.py export-ignore
thunderplot.py export-ignore

